export(LoadExampleChemProperties)
export(LoadExampleConsumption)
export(CompleteChemProperties)
export(CheckConsumptionData)
export(LoadEuropeanBasins)
export(SelectBasins)
export(LoadLongTermFlow)
export(AddFlowToBasinData)
export(ComputeEnvConcentrations)
export(CalculateWriteEnvStats)
export(CreateHTMLMaps)
export(ePiEPath)
export(ePiEVersion)
export(RunSimpleTreatBasinAvg)
export(SetLocalParameters)
export(SimpleTreat4_0)
export(InteractiveResultMap)
useDynLib(ePiE)
importFrom(Rcpp, sourceCpp)

